body {
  font-family: "Noto Serif KR", serif;
  font-size: 1em;
  background-color: #f9f9f9;
}
.navbar {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar .navbar-brand {
  font-family: "Gugi", cursive;
}
.main {
  margin-top: 70px;
  font-size: 0.9em;
}
ul.nav {
  margin-bottom: 40px;
}
.list {
  margin-top: 10px;
}
.list .card {
  margin-top: 20px;
  border: 0px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  font-size: 0.9em;
}
.insert,
.highlight,
.view,
.search {
  margin-top: 30px;
}
.paging {
  margin: 40px 0px 40px 0px;
  text-align: center;
}
.paging .link {
  display: inline;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin: 2px;
}
.ck-editor__editable {
  min-height: 300px;
}
